*{
    padding: 0px;
    margin: 0px;
}
header{
    background-image: url(img/header-img.jpg);
    height:100vh;
    background-size: cover;
    background-position: 200px center center center;
    background-repeat: no-repeat;
}
header .div-text{
    display: flex;
    justify-content: space-between;
    margin: auto;
    left:0px;
    top:160px;
    position: relative;
    padding: 0px 40px;
}
header .div-text h2{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    font-style: italic;
}
header> .div-text h2 .text-design{
    text-shadow: 1px 2px 3px red;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* section code-start div one- 01 */
.one-pent{
    width:1100px;
    display: flex;
    justify-content: space-between;
    margin: auto;
    text-align: center;
    padding:80px 0px 100px 0px;
}
.one-pent .one{
    border-top:3px solid rgba(255, 0, 0, 0.411);
    border-left: 3px solid rgba(102, 51, 153, 0.5);
    padding:10px 18px;
    width: 300px;
    border-radius:9px;
    box-shadow: 5px 6px 6px black;
    background-color: rgba(255, 210, 155, 0.582);
}
.one-pent .one h3{
    padding:8px 0px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(71, 120, 255, 0.774);
    font-style: italic;
    font-family:monospace;
    font-size: 20px;

}
.one-pent .one  p{
    line-height:24px;
    text-transform:capitalize;
    font-size: 17px;
    color: rgba(0, 0, 0, 0.719);
    text-align: justify;
}

/*2 from section code start  */
.mul-div{
    background-color: rgba(137, 43, 226, 0.123);
    padding:20px 0px 90px 0px;
}
.mul-div h1{
    margin: 10px 0px 30px 0px;
    color: rgba(0, 0, 0, 0.726);
    text-shadow: 2px 2px 1px rgba(142, 40, 243, 0.795);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 35px;
    text-align: center;
    padding: 20px 0px;
}
.form-div fieldset{
    width: 700px;
    display: flex;
    justify-content: space-between;
    margin:auto;
    padding: 18px;
    
}
.form-div fieldset legend{
    color: rgb(150, 40, 40);
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    letter-spacing:3px;
}
.form-div .form-one{
    font-size:20px;
    width: 300px;
    padding:0px 10px 20px 10px;
}
.form-div .photo{
    width:350px;
    height:400px;
    filter: blur(2px);
}
.form-div .photo img{
    width: 100%;
    height: 100%;
    opacity:0.3;
}
.form-div .form-one input{
    font-size: 17px;
    margin-left: 10px;
    width: 200px;
    height:30px;
    background: none;
    border: none;
    outline: none;
    border-bottom:1px solid rgba(102, 51, 153, 0.527);
}
.form-div .form-one input::placeholder{
    color: rgba(17, 0, 255, 0.644);
    padding: 0px 5px;
    font-size:15px ;
}
.form-div .form-one #select{
    color:rgba(0, 0, 0, 0.774);
    padding: 3px 10px;
    font-size:15px;
    width: 200px;
    outline: none;
    border:1px solid;
    border-radius:10px;
    margin-top: 6px;
   background: none;
}
.form-div> fieldset> .form-one> .input-text input{
    margin-top:30px;
    background-color: rgb(226, 225, 225);
    width: 100px;
    border: 2px solid;
    border-radius: 10px;
    transition: 0.5s;
}
.form-div> fieldset> .form-one> .input-text input:hover{
    background-color: rgba(127, 255, 212, 0.699);
}